<app-header></app-header>
<section id="Technologies" >
    <h3>InfoDat Technolgies</h3>
      <DIV class="container">
        <div class="row">
        <div class="container col-md-4 col-sm-6 col-12 mb-3">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/Images/technoligies/t1.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Web Development</h4>
              <p class="card-text">Web development refers to the creating, building, and maintaining of websites. 
                It includes aspects such as web design, web publishing, web programming, and database management.
                It is the creation of an application that works over the internet i.e. websites.</p>
              <a href="#" class="btn btn-danger">more info </a>
              &nbsp;
              <button class=" btn btn-info" > openings: 3</button>
            </div>
          </div>
        </div>

        <div class="container col-md-4 col-sm-6 col-12 mb-3">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/Images/technoligies/t2.webp" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Mobile Application Development</h4>
              <p class="card-text">Web development refers to the creating, building, and maintaining of websites. 
                It includes aspects such as web design, web publishing, web programming, and database management.
                It is the creation of an application that works over the internet i.e. websites.</p>
              <a href="#" class="btn btn-success">more info </a>
              &nbsp;
              <button class=" btn btn-info" > openings: 12</button>
            
            </div>
          </div>
        </div>

        <div class="container col-md-4 col-sm-6 col-12 mb-3">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/Images/technoligies/t3.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Devops </h4>
              <p class="card-text">Web development refers to the creating, building, and maintaining of websites. 
                It includes aspects such as web design, web publishing, web programming, and database management.
                It is the creation of an application that works over the internet i.e. websites.</p>
              <a href="#" class="btn btn-warning">more info </a>
              &nbsp;
              <button class=" btn btn-info" > openings: 31</button>
            
            </div>
          </div>
        </div>

        <div class="container col-md-4 col-sm-6 col-12 mb-3">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/Images/technoligies/t4.svg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">API</h4>
              <p class="card-text">Web development refers to the creating, building, and maintaining of websites. 
                It includes aspects such as web design, web publishing, web programming, and database management.
                It is the creation of an application that works over the internet i.e. websites.</p>
              <a href="#" class="btn btn-info">more info </a>
              &nbsp;
              <button class=" btn btn-info" > openings: 5</button>
            
            </div>
          </div>
        </div>

        <div class="container col-md-4 col-sm-6 col-12 mb-3">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/Images/technoligies/t5.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Cloud </h4>
              <p class="card-text">Web development refers to the creating, building, and maintaining of websites. 
                It includes aspects such as web design, web publishing, web programming, and database management.
                It is the creation of an application that works over the internet i.e. websites.</p>
              <a href="#" class="btn btn-success">more info </a>
              &nbsp;
              <button class=" btn btn-info" > openings: 7</button>
            
            </div>
          </div>
        </div>

        <div class="container col-md-4 col-sm-6 col-12 mb-3">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/Images/technoligies/t6.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Python </h4>
              <p class="card-text">Web development refers to the creating, building, and maintaining of websites. 
                It includes aspects such as web design, web publishing, web programming, and database management.
                It is the creation of an application that works over the internet i.e. websites.</p>
              <a href="#" class="btn btn-danger">more info </a>
              &nbsp;
              <button class=" btn btn-info" > openings: 14</button>
            
            </div>
          </div>
        </div>

        <div class="container col-md-4 col-sm-6 col-12 mb-3">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/Images/technoligies/t7.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">PHP</h4>
              <p class="card-text">Web development refers to the creating, building, and maintaining of websites. 
                It includes aspects such as web design, web publishing, web programming, and database management.
                It is the creation of an application that works over the internet i.e. websites.</p>
              <a href="#" class="btn btn-info">more info </a>
              &nbsp;
              <button class=" btn btn-info" > openings: 16</button>
            
            </div>
          </div>
        </div>

        <div class="container col-md-4 col-sm-6 col-12 mb-3">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/Images/technoligies/t8.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Angular</h4>
              <p class="card-text">Web development refers to the creating, building, and maintaining of websites. 
                It includes aspects such as web design, web publishing, web programming, and database management.
                It is the creation of an application that works over the internet i.e. websites.</p>
              <a href="#" class="btn btn-danger">more info </a>
              &nbsp;
              <button class=" btn btn-info" > openings: 95</button>
            
            </div>
          </div>
        </div>

        <div class="container col-md-4 col-sm-6 col-12 mb-3">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/Images/technoligies/t9.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Node JS </h4>
              <p class="card-text">Web development refers to the creating, building, and maintaining of websites. 
                It includes aspects such as web design, web publishing, web programming, and database management.
                It is the creation of an application that works over the internet i.e. websites.</p>
              <a href="#" class="btn btn-success">more info </a>
              &nbsp;
              <button class=" btn btn-info" > openings: 87</button>
            
            </div>
          </div>
        </div>

        <div class="container col-md-4 col-sm-6 col-12 mb-3">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/Images/technoligies/C++_Logo.svg.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">C++ </h4>
              <p class="card-text">Web development refers to the creating, building, and maintaining of websites. 
                It includes aspects such as web design, web publishing, web programming, and database management.
                It is the creation of an application that works over the internet i.e. websites.</p>
              <a href="#" class="btn btn-info">more info </a>
              &nbsp;
              <button class=" btn btn-info" > openings: 2</button>
            
            </div>
          </div>
        </div>

      </div>
      </DIV>
</section>
<app-footer></app-footer>

